.highlighter-rouge {
  width: 100%;
  margin-left: 0;
}

pre {
  border-radius: 10px;
  font-family: $code-font;
  padding: $base-spacing $base-spacing+$base-spacing/10;
  margin: 0;
  border-radius: 0;
  @media (max-width: $break-small) {
    font-size: 10px;
  }
}

.highlight .lineno {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

.lineno::-moz-selection {
  background-color: transparent;
}

.lineno::selection {
  background-color: transparent;
}

.highlight .lineno {
  color: #ccc;
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}

.highlighter-rouge pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}

.highlighter-rouge ul {
  list-style-position: outside;
  list-style: none;
  margin: 0;
  padding: 0 $base-spacing+($base-spacing/10);
  overflow: hidden;
  background: #f7f7f7;
  color: #807d7c;
  border-top: $base-spacing/2 solid #fff;
  font-family: "Menlo", "Roboto Mono", "Roboto";

  li {
    margin: 0.8em 0em 0.8em 0;
    font-size: 1em;

    &:before {
      content: '> ';
    }
  }
}
