#markdown-toc {
  margin: 0.15em 0 0 $base-spacing;
  padding: 0;
  float: right;
  list-style: decimal;
  list-style-position: inside;
  display: inline-block;

  &::before {
    content: "Contents";
    font-weight: bold;
  }

  ul {
    list-style: decimal;
  }

  li {
    margin: 0.8em 0em 0.8em 0;
  }

  li li {
    font-size: 0.8em;
  }
}
